html,
body,
pre,
code,
kbd,
samp {
  font-family: "Quicksand", sans-serif;
}

h1,
button,
.progress-bar {
  font-family: "Press Start 2P", cursive;
}

.quantity-fields > * {
  font-size: 1.2em;
  font-weight: 700;
}

body {
  max-width: 98%;
}

fieldset {
  border: none;
}

#question {
  padding-bottom: 1em;
  padding-top: 1em;
}

/* The "fieldset" with quantity input and reports */
/* includes the label and the input. */
.quantity-fields {
  margin-bottom: 1em;
}

.quantity {
  width: 8em;
  display: inline !important;
}

.change {
  width: 8em !important;
  display: inline !important;
}

.instruction,
.context {
  font-size: 1.5em;
  font-weight: 700;
}

/* The Modal-background */
.modal-background {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 5em; /* Location of the box */
  padding-bottom: 2em;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  max-width: 840px;
  width: 80%;
}

#container {
  margin: auto;
}

#outer-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

/* THE SUMMARY TABLE */

.summary-container {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  /* max-width: 500px; */
}

.citations-list {
  font-size: 0.6em;
  padding-left: 1em;
}

.summary {
  margin-top: 2em;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: lightgrey;
}

.summary-cell {
  background-color: white;
}

.summary-header {
  background-color: plum;
}

/* The table cell holding the prompt */
.instruction-cell {
  max-width: 500px;
}

.sources-cell {
  min-width: 200px;
  max-width: 200px;
}

.progress-bar {
  margin-top: 1em;
}

/* EVALUATION FEEDBACK */

input[type="number"]:disabled {
  color: black;
}

select:disabled {
  color: black;
}

.value {
  padding: 0.5em;
}

.eval-values {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.eval {
  /* padding: 0.5em; */
  /* max-width: 15em; */
  /* text-align: center; */
}

.accuracy-rating {
  text-align: center;
  font-size: 1.2em;
}

.eval-v-good {
  background-color: #00bb00 !important;
}

.eval-good {
  background-color: lightgreen !important;
}

.eval-bad {
  background-color: #ccffcc !important;
}

.eval-v-bad {
  background-color: #ffffff !important;
}

.eval-wrong-dir {
  background-color: pink !important;
}

.input-err {
  color: red;
}
